extends layout

block content
	body
		header
			h1
				!= postTitle
			h3.postData
				!= postAuthor
			h3.postData
				!= postDate
		p
			!= postContents
	footer
		a(href='http://localhost:3000/') home