body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h1{
	text-align: center;
}

a {
  color: #00A86B;
  text-decoration: none;
}
a:hover{
	color: #A81F00;
}

.postBody{
	margin: 0 25%;
	width: 50%;
}

.postsPage{
	background-image: url(/images/jade.JPG);
	background-size: 200px 200px;
	background-repeat: no-repeat;
	background-position: right;
	opacity: 0.5;

}

footer{
	margin-top: 20%;
}
.next{
	float:right;
}
.home{
	margin: 0 50%;
}